/* font-family: 'Permanent Marker', cursive; 
font-family: 'Dancing Script', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Permanent+Marker&display=swap');
 

*{
  margin-top: 0;
  padding-top: 0;
  font-family: 'Dancing Script', cursive;
}

.menu
{
background-color: #00F;
width:100%;
height: auto;
padding: 0 5px;
z-index: 1;
opacity: 0.9;
}

.menu  .navbar-nav > .active > a
{
background-color : #00F;
color: white;
font-weight: bold;
}

.menu  .navbar-nav >  li >  a
{
font-size: 13px;
color: white;
padding: 5px 10px;

}
.menu  .navbar-nav >  li >  a:hover
{
background-color: #00F;
}

.navbar-header > a
{
font-family: 'Ubuntu Condensed', sans-serif;
padding: 0px;
margin: 0px;
text-decoration: none;
color: white;
font-size: 25px;
padding: 5px 10px;
}
.navbar-header > a:hover
{
text-decoration: none;
color: #00F;
}
/* menu
{
background-color: #a00;
border-bottom: 4px solid #a00;
width:100%;
height: auto;
padding: 0 10px;
position: fixed;
margin: 0px;
z-index: 1;
opacity: 0.9;
}

.menu  .navbar-nav > .active > a
{
background-color : #a00;
font-weight: bold;
}

.menu  .navbar-nav >  li >  a
{
font-size: 13px;
color: #a00;
padding: 10px 35px;

}
.menu  .navbar-nav >  li >  a:hover
{
background-color: #a00;
}

.navbar-header > a
{
font-family: 'Ubuntu Condensed', sans-serif;
padding: 0px;
margin: 0px;
text-decoration: none;
font-size: 25px;
padding: 5px 30px;
}
.navbar-header > a:hover
{
text-decoration: none;
color: #a00;
} */

/* .nav-item {
  color: #a00;
  padding: 6px 12px;
  margin: 0 6px;
  z-index: 1;
  position: relative;
}

.nav-admin{
  margin-right: 0 !important;
} */

.container-fluid {
  margin-top: 6%;
  margin-left: 2%;
  margin-right: 2%;
}


.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr) !important;
  grid-gap: 10px;
  grid-auto-rows: auto;
}

#home-btn {
  color: #00547E !important;
  font-size: 15px;
}

.img-thumbnail {
  cursor: pointer !important;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 5px;
  padding-bottom: 24px;
  align-self: start;
}

.mod-img {
  width: 100%;
  padding-bottom: 0;
  height: 100%;
  margin: 0% !important;
}

.modal-body {
  padding: 0;
}

.modal-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
}

p {
  text-align: center;
}

#img-desc {
  font-size: 1.7rem;
  font-weight: 900;
  margin-top: 2%;
}

.details-content {
  padding: 1.6rem;
  position: relative;
}

.details-content a {
  text-decoration: none;
  color: white;
}

.details-content a:hover {
  color: white;
}

.img-share {
  float: right;
  position: relative;
  margin-top: -42px;
}

.share-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  background-color: #00F;
  transition: all 0.3s ease;
  outline: 0;
  z-index: 2;
  box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.12),
      0 2px 4px rgba(0, 0, 0, 0.24);
}

.share-icon:hover,
.share-icon:focus {
  box-shadow:
      0 3px 6px rgba(0, 0, 0, 0.12),
      0 3px 6px rgba(0, 0, 0, 0.24);

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.details-meta time {
  font-size: 1rem;
  color: #767676;
  margin-left: 0.8rem;
}

.badge {
  font-size: 1rem;
  background-color: #00F;
  margin-bottom: 1%;
}

/* footer */
.footer-dark {
  padding: 20px 0;
  color: #f0f9ff;
  background-color: #00f;
}

.footer-dark .item.social {
  text-align: center;
}


/* make app responsive */
/* @media only screen (min-width : 320px){

} */

@media (max-width: 767px) {
  .navbar {
      height: 7rem !important;
  }

  #brand {
      font-size: 4rem;
  }
}

@media (min-width: 768px) {
  .navbar {
      border-radius: 0 !important;
  }
}