<footer class="footer-light">
  <div class="container">
    <div class="row">
      <div class="col item social">
        <a href="https://github.com/oyesa">
          <i class="icon ion-social-github"></i>
        </a>
        <a href="https://www.instagram.com/oyesa/">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="https://twitter.com/OyesaOluchina">
          <i class="icon ion-social-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/mercy-oyesa-0a906b235/">
          <i class="icon ion-social-linkedin"></i>
        </a>
      </div>
    </div>
    <p class="copyright">Tribe Gallery | © 2022 by Oyesa</p>
  </div>
</footer>