
<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="{% url 'home' %}" class="nav-item is-active" active-color="#A00" id="brand"><i class="fa fa-home" aria-hidden="true"></i>
        <strong> Tribe Gallery </strong></a>
      </a>
    </div>
    <div class="nav-admin">
      <a href="/admin" ><span class="glyphicon glyphicon-user"></span> Admin</a>
    </div>
  </div>
</nav> -->

<div class="menu">
  <div class="container-fluid">
  <div class="navbar-header">
    <a href="{% url 'home' %}">Tribe Gallery</a>
  </div>
  <div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/admin" ><span class="glyphicon glyphicon-user"></span> Admin</a></li>
    </ul>
  </div>
</div>
</div>

